
# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
data/raw/*
data/frames/*
!data/raw/.gitkeep
!data/frames/.gitkeep

# Modeles volumineux
models/*.pt
models/*.onnx

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
